body{
    display: flex;
    flex-wrap: wrap
}
.card {
    padding: 1rem;
    flex: 1 0;
    width: 20rem;
    cursor: pointer;
    height: calc(20rem * 0.6);
    margin : 0.4rem;
    border-radius: 8px;
    /* background-color: var(--black); */
    display: flex;
    align-self: flex-start;
    * {align-self: flex-end;}
    a {
        border: 3px solid var(--black);
        border-radius: 8px;
        padding: 4px;
        height: 1.6rem;
        width: 1.6rem;
         /* Blend effect */ 
    }
    a:hover {background-color:var(--lead);}
    
    .sSpan{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0.5rem;
        border-radius: 8px;
        backdrop-filter: blur(10px); /* Adjust the blur amount */
        background-color: var(--transparent); /* Optional semi-transparent color for effect */
        /* text-transform: uppercase; */
        /* filter: invert(); */
    }


    .sIcon{
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 auto ;
    }
    @media (prefers-color-scheme: dark){
        .sIcon{
            filter: invert();
        }
    }
    .sTitle{
        max-width: 65.959697%;
        margin: auto 0 ;
        padding: 0;
        font-size: x-large;
        font-weight: bold;
    }
}