.content{
    background-color: var(--main);
    border: 0.125rem solid var(--second);
    border-radius: 1.125rem;
}
body{
    background-color:var(--10);
}
.nav {
    background-color: var(--20);
    border-bottom: 0.125rem solid var(--75);
}
footer{
    background-color: var(--25);
    border-top: 0.125rem solid var(--75);
}

* {
    color: var(--second);
    scrollbar-color: var(--75) var(--main);
} 
svg { 

    fill: var(--second);
}
footer svg:hover { fill: var(--gray); scale: 1.6; }
a{
   color:var(--second); 
}
a:hover{
   color:var(--gray); 
}
/* a:visited{
    color:var(--66); 
 } */
.logo-text, .logo-text:visited{
    color: var(--second);
}