
.post-container *{
    margin: 5px
}
.post-container{
    margin: 1rem auto;
    width: 30rem;
    outline: solid black 3px;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
}
.text{
    text-align: left;
}
.author{
    text-align: left;
}
.date{
    text-align: right;
}