  
    .banner {
        img {
            display: block;
            margin: 0.125rem auto;
            max-width: 62%;
        }
        * {
            text-align: center !important;
        }
    }
    


.section{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: normal;
    iframe{border: 0;}
    p{
        text-align: justify;
    }

    .column *{
        text-align: left;
        list-style: none;
        padding-left: 0.5rem;
    } 
    > div{
        max-width: 30rem;
        padding: 1rem;
    }

    .vid-gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        flex-direction: row;
        
        .pic, .video{
            display: block;
            margin: 0.125rem auto;
            padding: 0.25rem;
            max-width: min(100%,30rem);
            /* width: min(100%,30rem); */
            img , iframe {
                width: min(100%,30rem);
                display: block;
                margin: 0 auto;
            }
        }
    }
}
    